body {
    direction: rtl;
}


@font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai-Regular.ttf");
}

/* @font-face {
    font-family: 'Zain';
    src: url('../fonts/Zain-Regular.ttf');
} */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Almarai' !important;
}

.p-dialog {
    max-height: initial !important;
}

.p-virtualscroller.border {
    border-style: none !important;

}

.p-dialog-header {
    display: flex;
    align-items: center;
    justify-content: end !important;
    flex-shrink: 0;
    padding: var(--p-dialog-header-padding);
}

.p-button-text.p-button-secondary {
    padding: 11px !important;
    border: 1px solid black !important;
    border-radius: 50% !important;
    margin-bottom: 5px !important;
}

.p-accordioncontent-content {
    border-style: none !important;
}

.p-button {
    font-size: 0rem !important;
}

.p-rating-option svg{
    width: 40px;
    margin: 5px;
    margin-right: 5%;

}

li::marker {
    color: rgba(164, 202, 114, 1);
    font-size: 35px;
}